.hide {
    display: none;
}

.score {
    height: 20px;
    text-align: center;
    color: black;
    width: 120px;
    font-family: 'Courier New', Courier, monospace;
}

.car,
.enemy {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: aquamarine;
}

.line {
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 95px;
    background-color: white;
}

.gameArea {
    background-color: rgb(192, 192, 192);
    width: 200px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.startScreen{
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 300px;
}